<div id="testosterone" class="row">
  <div class="col-sm-5, col-md-5, col-lg-5">
    <%= o.label(:testosterone_in_ng_per_dl, "Testosterone (ng/dL)") %><br />
    <%= o.text_field_without_bootstrap(:testosterone_in_ng_per_dl,
                                       class: "form-control") %>
  </div>
  <div class="col-sm-7, col-md-7, col-lg-7">
    <%= o.label(:date, "Date") %><br />
    <%= o.date_field_without_bootstrap(:date, class: "form-control") %>
  </div>
</div>
