<div id="testosterone" class="row form-group">
  <div class="col-sm-5, col-md-5, col-lg-5">
    <%= o.text_field(:testosterone_in_ng_per_dl,
                     label: "Testosterone (ng/dL)",
                     wrapper_class: "inner-form-group") %>
  </div>
  <div class="col-sm-7, col-md-7, col-lg-7">
    <%= o.date_field(:date,
                     label: "Date",
                     wrapper_class: "inner-form-group") %>
  </div>
</div>
