<% provide :title, "Edit user" %>

<% provide :resource_form do %>
  <%= render "shared/error_messages", resource: @user %>
  <div id="user-form">
    <%= render "users/user_edit" %>
  </div>
<% end %>

<%= render template: "layouts/form_and_display_page" %>
