<div id="attributes">
<% @records.first.attributes.keys.each do |attr| %>
  <div>
    <%= attr %>
  </div>
<% end %>
</div>

<% @records.each do |record| %>
<div class="record">
<% record.attributes.each do |k, v| %>
  <div>
    <%= "#{v}" %>
  </div>
<% end %>
</div>
<% end %>

<div id="export" class="row">
  <div class="col-sm-8 col-md-8 col-lg-8">
  </div>
  <div id="export-records" class="col-sm-4 col-md-4 col-lg-4">
    <%= link_to "Export all records to CSV", "/records.csv" %>
  </div>
</div>
