<div id="bun-creatinine" class="form-group">
  <div class="row">
    <div class="col-sm-6, col-md-6, col-lg-6">
      <%= o.text_field(:bun_in_mg_per_dl,
                       label: "BUN (mg/dl)",
                       wrapper_class: "inner-form-group") %>
    </div>
    <div class="col-sm-6, col-md-6, col-lg-6">
      <%= o.text_field(:creatinine_in_mg_per_dl,
                       label: "Creatinine (mg/dl)",
                       wrapper_class: "inner-form-group") %>
    </div>
  </div>
  <div>
    <%= o.date_field(:date,
                     label: "Date",
                     wrapper_class: "inner-form-group") %>
  </div>
</div>
