<% provide(:title, "Edit patient") %>

<% provide(:nav_export_link) do %>
  <%= link_to("Export data for all patients to CSV",
              patients_path(format: "csv")) %>
<% end %>

<% provide(:full_width_top) do %>
  <div class="container">
    <div class="page-header">
      <h1>Edit patient #<%= @patient.study_assigned_id %></h1>
    </div>
  </div>
<% end %>

<% provide(:resource_form) do %>
  <div id="patient-form-container">
    <%= render(partial: "patients/patient_edit",
               locals: { cancel_link_remote: false }) %>
  </div>
<% end %>

<%= render(template: "layouts/form_and_display_page") %>
