<% provide(:title, "Edit patient") %>

<% provide(:nav_export_link) do %>
  <%= link_to("Export data for all patients to CSV",
              patients_path(format: "csv")) %>
<% end %>

<% provide(:resource_form) do %>
  <%= render(partial: "shared/error_messages",
             locals: { resource: @patient }) %>
  <div id="patient-form-container">
    <%= render(partial: "patients/patient_edit",
               locals: { cancel_link_remote: false }) %>
  </div>
<% end %>

<%= render(template: "layouts/form_and_display_page") %>
