<div id="blood-pressure" class="form-group">
  <div class="row">
    <div class="col-sm-6, col-md-6, col-lg-6">
      <%= o.text_field(:systolic_in_mmhg,
                       label: "Systolic (mm Hg)",
                       wrapper_class: "inner-form-group") %>
    </div>
    <div class="col-sm-6, col-md-6, col-lg-6">
      <%= o.text_field(:diastolic_in_mmhg,
                       label: "Diastolic (mm Hg)",
                       wrapper_class: "inner-form-group") %>
    </div>
  </div>
  <div>
    <%= o.date_field(:date,
                     label: "Date",
                     wrapper_class: "inner-form-group") %>
  </div>
</div>
