<div id="measurements" class="form-group">
  <div class="row">
    <div class="col-sm-6, col-md-6, col-lg-6">
      <%= o.text_field(:height_in_inches,
                       label: "Height (in)",
                       wrapper_class: "inner-form-group") %>
    </div>
    <div class="col-sm-6, col-md-6, col-lg-6">
      <%= o.text_field(:waist_circumference_in_inches,
                       label: "Waist (in)",
                       wrapper_class: "inner-form-group") %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5, col-md-5, col-lg-5">
      <%= o.text_field(:weight_in_pounds,
                       label: "Weight (lb)",
                       wrapper_class: "inner-form-group") %>
    </div>
    <div class="col-sm-7, col-md-7, col-lg-7">
      <%= o.date_field(:date,
                       label: "Date",
                       wrapper_class: "inner-form-group") %>
    </div>
  </div>
</div>
