<div id="edit-measurements">
  <%= form_for @measurements do |f| %>
    <div class="form-group">
      <%= render "measurements/measurements_form_fields", o: f %>
    </div>
    <%= f.submit "Update measurements", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Cancel", patient_records_path(@measurements.patient_id), remote: cancel_link_remote, id: "cancel-update", class: "btn btn-primary" %>
</div>
