/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

body {
  padding-top: 70px;
  overflow-y: scroll;
}

#form-panel > div {
  margin-bottom: 84px;
}

#form-panel label {
  font-size: smaller;
}

#resource-display-panel {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #dddddd;
}

.pagination {
  margin-bottom: 0px;
}

#export-records {
  margin-top: 27px;
}

#error_explanation {
    margin-bottom: 0px;
}

#error_explanation ul {
    padding-left: 0px;
}

#error_explanation li {
    list-style-type: none;
}