body {
  padding-top: 70px;
}

.new_user .btn,
.edit_user .btn {
  margin-top: 28px;
}

#form-panel label {
  font-size: smaller;
}

#cancel-update {
  position: relative;
  top: -34px;
  left: 90px;
}

#resource-display-panel {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #dddddd;
}

.pagination {
  margin-bottom: 0px;
}

#export-records {
  margin-top: 27px;
}
