body {
  padding-top: 70px;
}

#form-panel label {
  font-size: smaller;
}

#resource-display-panel {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #dddddd;
}

.pagination {
  margin-bottom: 0px;
}

#export-records {
  margin-top: 27px;
}
