#patient-form-container {
  position: relative;
}

#edit-patient #cancel-update {
  position: absolute;
  bottom: 0;
  left: 159px;
}

#patients {
  position: relative;

  #th-patient-study-assigned-id {
    width: 13%;
    text-align: center;
  }

  #th-patient-records {
    width: 26%;
  }

  #th-export-records {
    width: 21%;
  }

  #th-edit-patient {
    width: 20%;
  }

  #th-delete-patient {
    width: 20%;
  }

  td {
    text-align: center;
  }
}
