#form-panel > div {
  margin-bottom: 84px;
}

#form-panel > #error_explanation {
  margin-bottom: 0;
}

#patient-form > div {
  position: relative;
}

#edit-patient #cancel-update {
  position: absolute;
  bottom: 0;
  left: 159px;
}

#patients {
  position: relative;
}
