.page-header.patient-records-header {
  border-bottom: none;
  margin-top: 0;
}

.patient-records-header > h1 > small {
  margin-left: 2em;
}

.form-group {
  margin-bottom: 30px;
}

#cholesterol > div:not(:first-child):not(:last-child) {
  padding-left: 7px;
  padding-right: 7px;
}

#cholesterol > div:first-child {
  padding-right: 7px;
}

#cholesterol > div:last-child {
  padding-left: 7px;
}

.records-row {
  position: relative;
}

#records > .records-row:not(:first-child) {
  border-top: 1px solid #ddd;
}

#records > .records-row:nth-child(even) {
  background-color: #f9f9f9;
}

.records-row > div {
  padding-bottom: 8px;
  padding-top: 8px;
}

.data-label {
  width: 140px;
  float: left;
}

.data-points {
  overflow-x: auto;
}

.data-point {
  margin-left: 30px;
  width: 84px;
}

.records-row > div > span {
  line-height: 1.428571429;
}

.data-label > span {
  display: block;
}

.data-point > span {
  display: block;
  text-align: right;
}
