.form-group {
  margin-bottom: 30px;
}

#cholesterol > div:not(:first-child):not(:last-child) {
  padding-left: 7px;
  padding-right: 7px;
}

#cholesterol > div:first-child {
  padding-right: 7px;
}

#cholesterol > div:last-child {
  padding-left: 7px;
}
