#signin-form input[type=password] {
  margin-top: 6px;
}

#signin-form input[type=submit] {
  margin-top: 14px;
}

#logins {
  padding-top: 6px;

  color: #777777;

  h3 {
    font-size: 24px;
  }

  .login {
    padding-top: 8px;
  }

  p:nth-of-type(1) {
    padding-top: 9px
  }

  p:nth-of-type(2) {
    padding-top: 11px
  }

  ul {
    padding-left: 7px;
  }
}

/*
.guide {
  display: block !important;
}

#g-a1c {
  top: 27px !important;
}

#g-acr {
  top: 65px !important;
}

#g-blood-pressure {
  top: 105px !important;
}
*/
