<div id="ckd-stage" class="row">
  <div class="col-sm-5, col-md-5, col-lg-5">
    <%= o.label :ckd_stage, "CKD Stage" %><br />
    <%= o.text_field :ckd_stage, class: "form-control" %>
  </div>
  <div class="col-sm-7, col-md-7, col-lg-7">
    <%= o.label :date, "Date" %><br />
    <%= o.date_field :date, class: "form-control" %>
  </div>
</div>
