<div id="acr" class="row">
  <div class="col-sm-5, col-md-5, col-lg-5">
    <%= o.label :acr_in_mcg_alb_per_mg_cr, "ACR (mcg/mg)" %><br />
    <%= o.text_field_without_bootstrap :acr_in_mcg_alb_per_mg_cr, class: "form-control" %>
  </div>
  <div class="col-sm-7, col-md-7, col-lg-7">
    <%= o.label :date, "Date" %><br />
    <%= o.date_field_without_bootstrap :date, class: "form-control" %>
  </div>
</div>
